@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

:root {
    --primary-color: #e0b527;
    --secondary-color: #C4C4C4;
    --background-color: #FFF;
    --text-color: #000;
    --font-title: 'Oswald', comic;
    --font-body: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

ul {
    list-style: none;
}

/* HEADER */

header {
    nav {
        background-color: var(--primary-color);
        display: flex;
        height: 6.25rem;
        justify-content: space-between;
        padding: 1.5rem 7.5rem;

        #logo {
            align-items: center;
            background-color: var(--text-color);
            display: flex;
            height: 14rem;
            justify-content: center;
            width: 17.5rem;
            z-index: 1;
        }

        #navLinks {
            ul {
                align-items: center;
                display: flex;
                gap: 3rem;

                li {
                    a {
                        color: var(--text-color);
                        font-family: var(--font-title);
                        font-size: 2rem;
                        text-decoration: none;

                        &:hover {
                            color: var(--background-color);
                            text-decoration: underline;
                        }
                    }

                    .active {
                        color: var(--background-color);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* FOOTER */

footer {
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    height: 17rem;
    justify-content: space-between;
    padding: 0 8rem;
    width: 100%;

    #sitemap {
        line-height: 2.5rem;

        li {
            a {
                color: var(--text-color);
                font-family: var(--font-body);
                font-size: 1rem;
                text-decoration: none;

                &:hover {
                    color: var(--primary-color);
                    text-decoration: underline;
                }
            }
        }
    }

    #location {
        li {
            h3 {
                margin-bottom: .5rem;
            }

            p {
                color: var(--text-color);
                font-family: var(--font-body);
                font-size: 1rem;

                &:hover {
                    color: var(--primary-color);
                    text-decoration: underline;
                }

                a {
                    color: var(--text-color);
                    text-decoration: none;

                    &:hover {
                        color: var(--primary-color);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #socials {
        display: flex;
        gap: 3rem;
        margin-top: 1rem;

        li {
            a {
                color: var(--text-color);
                font-size: 1.75rem;
                text-decoration: none;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

/* CONTACT PAGE */

section h1 {
    color: var(--primary-color);
    font-family: var(--font-title);
    font-size: 4rem;
    margin: 3.5rem 0;
    text-align: center;
}

#contactForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin: 4rem 4rem;
    padding: 0 2rem;
    max-width: 100%;

    label {
        font-family: var(--font-body);
        font-size: 1.25rem;
        margin-bottom: .5rem;
    }

    input,
    textarea {
        border: none;
        border-bottom: .15rem solid var(--text-color);
        font-family: var(--font-body);
        font-size: 1rem;
        padding: .75rem;
        width: 100%;
        margin-bottom: 1.5rem;
        resize: none;

        &:focus {
            outline: none;
            border-bottom: .15rem solid var(--primary-color);
        }
    }

    button {
        background-color: var(--primary-color);
        border: none;
        color: var(--background-color);
        cursor: pointer;
        font-family: var(--font-body);
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.4rem 2.8rem;
        text-align: center;
        margin: 1rem auto;
        display: block;
    }
}