@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #E0B527;
    --secondary-color: #C4C4C4;
    --background-color: #FFF;
    --text-color: #000;
    --font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}
